@model App.Domain.Lease

@{
    ViewData["Title"] = "Delete";
}

<h1>@App.Resources.Views.AdminScaffoldText.Delete</h1>

<h3>@App.Resources.Views.AdminScaffoldText.ConfirmDelete</h3>
<div>
    <h4>Lease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Notes?.ToString())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseRole!.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit!.UnitNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resident!.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@App.Resources.Views.AdminScaffoldText.BackToList</a>
    </form>
</div>
