@model IEnumerable<App.Domain.VendorTicketCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>@App.Resources.Views.AdminScaffoldText.Index</h1>

<p>
    <a asp-action="Create">@App.Resources.Views.AdminScaffoldText.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Notes?.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCategory!.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
