@using App.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Onboarding" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-link text-dark">@App.Resources.Views.UiText.Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Onboarding" asp-action="Register">@App.Resources.Views.UiText.Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Onboarding" asp-action="Login">@App.Resources.Views.UiText.Login</a>
        </li>
    }
</ul>
