@model IEnumerable<App.Domain.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>@App.Resources.Views.AdminScaffoldText.Index</h1>

<p>
    <a asp-action="Create">@App.Resources.Views.AdminScaffoldText.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNr)
            </td>
            <td>
                @(item.Title?.ToString())
            </td>
            <td>
                @(item.Description?.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagementCompany!.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resident!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property!.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit!.UnitNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCategory!.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus!.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority!.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
