@model IEnumerable<App.Domain.ManagementCompanyUser>

@{
    ViewData["Title"] = "Index";
}

<h1>@App.Resources.Views.AdminScaffoldText.Index</h1>

<p>
    <a asp-action="Create">@App.Resources.Views.AdminScaffoldText.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementCompanyRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @(item.JobTitle?.ToString())
            </td>
<td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagementCompany!.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagementCompanyRole!.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@App.Resources.Views.AdminScaffoldText.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
